.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid #c2c8d0;
  border-radius: 8px;
  padding: 20px;

  height: 400px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-bottom: 1px solid #c2c8d0;

  width: 100%;
}

.postTitle {
  font-weight: bold;
  font-size: 1.6em;

  margin-top: 5px;
}

.postAuthor {
  margin-top: -10px;
}

.postedBy {
  margin-top: -5px;
}

.postDatesContainer {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.postedBy,
.postDates {
  font-size: 0.85em;

  color: hsl(0, 0%, 63%, 1);
}

.postDates,
.postActions {
  margin-top: 5px;
}

.postActions {
  display: flex;
  gap: 10px;
}

.postActions > button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
  border: 1px solid #c2c8d0;

  background-color: inherit;

  width: 40px;
}

.postActions > button:hover {
  border-color: #6b6fc9;
}

.postActions > button > img {
  width: 20px;

  filter: invert(62%) sepia(17%) saturate(197%) hue-rotate(176deg)
    brightness(89%) contrast(84%);
}

.postContent {
  margin-top: 30px;
}

.newTitleInput {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 30px;
}

.newContentTextarea {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.9em;

  margin-top: 40px;
  border-radius: 8px;
  padding: 8px 10px;

  background-color: inherit;

  max-width: 100%;
  box-sizing: border-box;

  resize: none;
}

@media only screen and (min-width: 950px) {
  .postDatesContainer {
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
  }
}
